@import "tailwindcss";

@theme {
  /* Colors */
  --color-morado: #4741a6;
  --color-amarillo: #f9ce69;
  --color-tertiary: #cdcdcd;
  --color-mainWhite: #faf6f0;
  --color-azul: #9bbbfc;
  --color-verde: #73bf27;
  --color-cafe: #8a6c26;
  --color-gray: #e9e7e7;
  --color-card-gray: #f0eeea;
  --color-Darkgray500: #121712;
  --color-Darkgray400: #292e29;
  --color-Darkgray300: #585c58;
  --color-Darkgray200: #929292;
  --color-LightGray100: #f2f0f0;
}
